<footer class="footer">
   <p xmlns:cc="http://creativecommons.org/ns#" >All articles are written by <a rel="cc:attributionURL dct:creator" property="cc:attributionName">alxdre301</a> and marked with <a href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC0 1.0 Universal<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt=""></a></p>
   <p>Find me on <a rel="me" href="https://urusai.social/@alxdre301">Mastodon</a>.</p>
  <p>The site is using <a href="https://antora.org">Antora</a>, and the Antora Default UI, which are licensed under the Mozilla Public License Version 2.0 (MPL-2.0).</p>
  <p>AsciiDoc® and AsciiDoc Language™ are trademarks of the Eclipse Foundation, Inc.</p>
</footer>
